<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>ADVERTISING_LIST</title>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.js"></script>-->

    <!--<script src="advertising_list.html"></script>-->
    <!--<script src="../../static/js/controller/advertising_controller.js"></script>-->
    <!--<script src="../../static/js/service/advertising_service.js"></script>-->
</head>
<body>


    <div ng-controller="AdvertisingController as controller">
        <div>
            <ul>
                <li ng-repeat="advertise in controller.advertisements">
                    <span ng-bind="advertise.text"></span>
                </li>
                <li>showing something.</li>
            </ul>
        </div>
        <div>
            <form>
                <button ng-click="fetchAllAdvertisements()"></button>
            </form>
        </div>
    </div>

</body>
</html>