input[type=text], input[type=password], input[type=submit] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=submit] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: list-item;
    border: 1px solid #ccc;
    box-sizing: border-box;
    align-content: center;

  }



/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

.submitbtn {
    padding: 14px 20px;
    background-color: #73f46d;
}
/* Float cancel and signup buttons and add an equal width */
.cancelbtn,.signupbtn {
    float: left;
    width: 50%;
}

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.middle {
    width: 50%;
    margin: 5% auto 15% auto;
}

select {
    border: 0;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    padding: 2px 10px;
    width: 378px;
    *width: 350px;
    display: inline-table;
    background-color: #dedbdb;

    margin: 8px 0;
    box-sizing: border-box;
    align-content: center;
}

.adform {
    width: 50%;
    margin: 5% auto 15% auto;
    display: list-item;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
}

table {
    border-collapse: collapse;
    width: 50%;
    margin: 5% auto 15% auto;
}

th, td {
    text-align: left;
    padding: 8px;
}

.deletebtn {
    padding: 14px 20px;
    background-color: #4CAF50;
    width: 100%;
    align-self: auto;
    text-align: left;
    text-justify: auto;
}

tr:nth-child(even){background-color: #f2f2f2}


thead {
    border-color: #4CAF50;
    background-color: #3c763d;
}
.dropbtn {
     background-color: black;
     color: white;
     padding: 16px;
     font-size: 16px;
     border: none;
     cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {  background-color: lightgrey;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}