.title{

    text-align: center;
    font-size: 50px;

    padding: 2rem 2rem;
    font-weight: bold;
    color: white;
    margin: 0px;

}

.jumbotron {
    width: 550px;
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.table{
    margin-top: auto;
    text-align: left;


}

.checkbox {

    text-align: center;
}

.form-control{
    margin-bottom: 4px;

}

.progress {

    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.taskDone{
    color: green;
    font-weight: bold;
}

.taskDeleted{
    color: red;
    font-weight: bold;
}

.background{
    background-image: url(reallybackground.jpg);
    background-repeat: repeat;
    background-size:100%;
    bottom: 0;
    color: black;
    left: 0;
    overflow: auto;
    padding: -1em;
    position: relative;
    right: 0;
    text-align: center;
    top: 0;
}

.credits{
    text-align: center;

    padding: 15px;
    margin-bottom: 0px;
    margin-top: -30px;
    color: white;

}

nav#menu ul{
    list-style: none;
    position: absolute;

}

nav#menu li{
    display: inline-block;
    padding: 10px;
    margin: 2px;
    transition: background-color 1s;
}

nav#main{
    display: block;
}

nav#main li:hover{
    background-color: white;
}

nav#main a{
    color: #080808;
    text-decoration: none;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}