<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout/layout">
<head>
    <title>.:: ad-extreme ::. - cadastra-se</title>
</head>
<th:block layout:fragment="conteudo">
    <div class="col-md-offset-2 col-md-8">
        <div class="alert alert-success alert-dismissible" role="alert" th:if="${not #strings.isEmpty(mensagem)}">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong><i class="fa fa-check" aria-hidden="true"></i></strong>
            <span th:text="${mensagem}"></span>
        </div>
        <div class="alert alert-danger alert-dismissible" role="alert" th:if="${not #strings.isEmpty(error)}">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong><i class="fa fa-exclamation-circle" aria-hidden="true"></i></strong>
            <span th:text="${error}"></span>
        </div>
        <!-- init form cadastro -->
        <form class="form-horizontal" method="post" role="form" th:object="${usuarioForm}" th:action="@{/cadastrar-se}">
            <div class="alert alert-danger alert-dismissible" role="alert" th:if="${#fields.hasAnyErrors()}">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <ul class="list-unstyled">
                    <th:block th:each="erro : ${#fields.detailedErrors()}">
                        <li>
                            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                            <span th:text="${erro.message}"></span>
                        </li>
                    </th:block>
                </ul>
            </div>
            <fieldset>
                <!-- Form Name -->
                <legend>Cadastro</legend>
                <!-- Nome -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="nome">Nome</label>
                    <div class="col-md-4">
                        <input id="nome" name="nome" type="text" placeholder="Nome" class="form-control input-md" required="required" th:field="*{nome}"/>
                    </div>
                </div>
                <!-- Email -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="email">Email</label>
                    <div class="col-md-4">
                        <input id="email" name="email" type="email" placeholder="Email" class="form-control input-md" required="required" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" th:field="*{email}"/>
                    </div>
                </div>
                <!-- Senha input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="senha">Senha</label>
                    <div class="col-md-4">
                        <input id="senha" name="senha" type="password" placeholder="Senha" minlength="1" maxlength="16" class="form-control input-md" required="required" th:field="*{senha}"/>
                    </div>
                </div>
                <!-- Confirmar Senha input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="confirmpassword">Confirmar Senha</label>
                    <div class="col-md-4">
                        <input id="confirmpassword" name="confirmpassword" type="password" placeholder="Confirmar Senha" minlength="4" maxlength="16" class="form-control input-md"/>
                    </div>
                </div>
                <!-- Multiple Radios (inline) -->
                <div class="form-group">
                    <label class="col-md-4 control-label">Razão Social</label>
                    <div class="col-md-4">
                        <label class="radio-inline" for="pFisica">
                            <input type="radio" name="role" id="pFisica" th:field="*{role}" th:value="${1}"/>
                            Pessoa Física
                        </label>
                        <label class="radio-inline" for="pJuridica">
                            <input type="radio" name="role" id="pJuridica" th:field="*{role}" th:value="${2}"/>
                            Pessoa Jurídica
                        </label>
                    </div>
                </div>
                <!-- Button (Double) -->
                <div class="form-group">
                    <div class="col-md-8 col-md-offset-4">
                        <button id="cadastrar-se" name="button1id" class="btn btn-success" type="submit">Cadastrar-se</button>
                        <button id="reset" name="reset" class="btn btn-danger" type="reset">Limpar</button>
                    </div>
                </div>
            </fieldset>
        </form>
        <!-- end form cadastro -->
    </div>
</th:block>
<th:block layout:fragment="js-extra">
    <script th:src="@{/js/script.js}"></script>
</th:block>
</html>