<!DOCTYPE html>
<html
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">
    <head>
        <title>.:: ad-extreme ::. - index</title>
    </head>
    <th:block layout:fragment="conteudo">
        <!-- init jumbotron -->
        <div class="container">
            <div class="jumbotron">
                <div class="container">
                    <h1><i class="fa fa-usd" aria-hidden="true"></i> ad-extreme</h1>
                    <p>Negociar é nosso lema !!</p>
                </div>
            </div>
        </div>
        <!-- end jumbotron -->
    </th:block>
</html>