<!DOCTYPE html>
<html class="no-js" lang="eng" ng-app="appADExtreme">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>CASA.:: ad-extreme ::. register</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>


    <link rel="stylesheet" href="../../css/style.css"/>
    <link rel="stylesheet" href="../../css/registerUser.css"/>

    <script src="./../js/frameworks/angular.js"></script>
    <script src="./../js/app.js"></script>
    <script src="./../js/controllers/user_controller.js"></script>
    <script src="./../js/services/user_service.js"></script>

    <div class="topnav" id="myTopnav">
        <a href="http://localhost:8080">Ad Extreme</a>
        <a href="http://localhost:8080/html/user/register_user.html">Register</a>
        <a href="http://localhost:8080/html/user/user_login.html">Login</a>
    </div>

</head>

<body>
    <h2>Register Form</h2>
    <h2>Here</h2>

    <div class="middle" ng-controller="userController as controller">
        <form name="userForm" ng-submit="controller.submit()">
            <input type="hidden" ng-model="controller.user.id"/>
            <!--<div class="container">-->
            <label>
                <b>Name</b>
            </label>
            <input type="text" placeholder="Enter Name" ng-model="controller.user.name"/>

            <label>
                <b>Email</b>
            </label>
            <input type="text" placeholder="Enter Email" ng-model="controller.user.email"/>
            <label>
                <b>Password</b>
            </label>
            <input type="password" placeholder="Enter Password" ng-model="controller.user.password"/>

            <label>
                <b>Repeat Password</b>
            </label>
            <input type="password" placeholder="Repeat Password" ng-model="controller.user.repeatedPassword"/>

            <select ng-model="controller.user.personType">
                <option>Legal Person</option>
                <option>Physical Person</option>
            </select>

            <input type="submit"/>


        </form>
    </div>

    <div class="jumbotron">
<!--successfully-->
        <footer>
            <h5 class="credits">Copyright © Gerson Sales, Mattheus Rodrigues and Manoel Ferreira</h5>
        </footer>


    </div>

</body>
</html>