<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout/layout_error">
<head>
    <title>.:: ad-extreme ::. - Página não encontrada</title>
</head>
<th:block layout:fragment="error">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <br/>
                <br/>
                <br/>
                <h1 class="text-center"><i class="fa  fa-location-arrow"></i> 404</h1>
                <h2 class="text-center">Página não encontrada</h2>
                <p class="lead text-center">
                    Desculpe, a página que você tentou acessar não foi encontrada ou não existe mais.
                    Verifique se a URL está correta ou entre em contato com a gente se precisar de ajuda.
                </p>
                <br/>
                <a href="javascript:history.back()" class="btn btn-lg btn-primary center-block">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i> Voltar
                </a>
            </div>
        </div>
    </div>
</th:block>
</html>