<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        lang="pt-br">
<head>
    <meta charset="UTF-8"/>
    <title>.:: ad-extreme ::.</title>
    <!--[if IE]>
    <link rel="shortcut icon" th:href="@{img/favicon.ico}"/><![endif]-->
    <link rel="icon" th:href="@{img/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" media="screen"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}" media="screen"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" media="screen"/>
</head>
<body>
<!-- init menu -->
<div id="menu" class="navbar navbar-default " role="navigation">
    <div class="container-fluid">
        <div class="navbar-header"><a class="navbar-brand" th:href="@{/}"><i class="fa fa-usd" aria-hidden="true"></i>
            ad-extreme</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-menubuilder">
            <ul class="nav navbar-nav navbar-left">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="true">Anúncios <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/company/cadastrar/anuncio}">Cadastrar</a></li>
                        <li><a th:href="@{/company/listar/anuncios}">Todos os Anúncios</a></li>
                    </ul>
                </li>
            </ul>
            <!--
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/products">Products</a>
                </li>
                <li>
                    <a href="/about-us">About Us</a>
                </li>
                <li>
                    <a href="/contact">Contact Us</a>
                </li>
            </ul>
            -->
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="javascript:document.logout.submit()"><i class="fa fa-sign-out" aria-hidden="true"></i>
                        Logout</a>
                    <form name="logout" th:action="@{/logout}" method="post" th:hidden="true">
                        <input type="submit" value="Logout"/>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- end menu -->
<div class="container-fluid">
    <div class="row">
        <th:block layout:fragment="conteudo"/>
    </div>
</div>
<!-- init footer -->
<footer class="footer">
    <div class="container">
        <div class="logo"></div>
        <p class="text-muted">© 2017 | Todos os Direitos Reservados | <i class="fa fa-usd" aria-hidden="true"></i>
            ad-extreme</p>
    </div>
</footer>
<!-- end footer -->
<script th:src="@{/webjars/jquery/1.12.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
<th:block layout:fragment="js-extra"></th:block>
</body>
</html>